<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.ljm.secw.mapper.HomeworkresultMapper">
    <select id="selectListById" resultType="team.ljm.secw.entity.HomeworkResult">
        select * from t_homework_result where id in (
            select result_id from t_stu_hw_rslt where homework_id = #{id}
            )
    </select>

    <select id="selectById" resultType="team.ljm.secw.entity.HomeworkResult">
        select * from t_homework_result where id = #{id}
    </select>

    <insert id="insert" parameterType="team.ljm.secw.dto.HomeworkresultDTO" keyProperty="id" useGeneratedKeys="true">
        insert into t_homework_result (content, file_path, submitted_at)
        values (#{content},#{filePath},#{submittedAt})
    </insert>

    <update id="update" parameterType="team.ljm.secw.dto.HomeworkresultDTO">
        update t_homework_result set content = #{content}, file_path = #{filePath},score = #{score},remark = #{remark}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from t_homework_result where id = #{id}
    </delete>



</mapper>
