<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.ljm.secw.mapper.StuhwrsMapper">

    <select id="selectByAccount" resultType="int">
        select id from t_stu_hw_rslt where account = #{account} and homework_id = #{homeworkId}
    </select>

    <insert id="insert" parameterType="team.ljm.secw.dto.HomeworkresultDTO">
        insert into t_stu_hw_rslt (account, homework_id, result_id)
        values (#{account},#{homeworkId},#{id})
    </insert>

    <delete id="delete" parameterType="team.ljm.secw.dto.HomeworkresultDTO">
        delete from t_stu_hw_rslt where homework_id = #{homeworkId} and result_id = #{id};
    </delete>

</mapper>